@model Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex justify-center mt-8">
    <div class="card bg-neutral-200 w-[32rem] shadow-lg">
        <div class="card-body items-center text-center">
            <h2 class="card-title">Create Customer</h2>
            <form asp-action="Create" class="flex flex-col gap-2 w-full">
                <input type="hidden" asp-for="UserId" />
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">First Name</span>
                    </div>
                    <input asp-for="FirstName" class="input input-bordered w-full"/>
                    <span asp-validation-for="FirstName" class="text-danger text-red-600 text-sm"></span>
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Last Name</span>
                    </div>
                    <input asp-for="LastName" class="input input-bordered w-full"/>
                    <span asp-validation-for="LastName" class="text-danger text-red-600 text-sm"></span>
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Email</span>
                    </div>
                    <input asp-for="Email" class="input input-bordered w-full"/>
                    <span asp-validation-for="Email" class="text-danger text-red-600 text-sm"></span>
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Password</span>
                    </div>
                    <input asp-for="Password" type="password" class="input input-bordered w-full"/>
                    <span asp-validation-for="Password" class="text-danger text-red-600 text-sm"></span>
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Confirm Password</span>
                    </div>
                    <input asp-for="ConfirmPassword" type="password" class="input input-bordered w-full"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger text-red-600 text-sm"></span>
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Phone Number</span>
                    </div>
                    <input asp-for="PhoneNumber" class="input input-bordered w-full" />
                    <span asp-validation-for="PhoneNumber" class="text-danger text-red-600 text-sm"></span>
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Province</span>
                    </div>
                    <select asp-for="Province" class="select select-bordered w-full">
                        <option value="" disabled selected>Select Province</option>
                        @foreach (var province in ViewBag.Provinces) {
                        <option value="@(province.Key)" id="@(province.Key)" asp-for="Province">@(province.Value)</option>
                        }
                    </select>
                    <span asp-validation-for="Province" class="text-danger text-red-600 text-sm"></span>
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Credit Card</span>
                    </div>
                    <input asp-for="CreditCard" class="input input-bordered w-full"/>
                    <span asp-validation-for="CreditCard" class="text-danger text-red-600 text-sm"></span>
                </label>
                <div class="card-actions justify-center mt-2">
                    <button type="submit" class="btn btn-info px-8">Add</button>
                    <a asp-action="Index" class="btn btn-ghost px-8">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>