@model CWhiteH60Store.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex justify-center mt-8">
    <div class="card bg-neutral-200 w-[32rem] shadow-lg">
        <div class="card-body items-center text-center">
            <h2 class="card-title">Edit Prices</h2>
            <form asp-action="EditPrice" class="flex flex-col gap-2 w-full">
                <input type="hidden" asp-for="ProductID"/>
                <input type="hidden" asp-for="ProdCatId"/>
                <input type="hidden" asp-for="Description"/>
                <input type="hidden" asp-for="Manufacturer"/>
                <input type="hidden" asp-for="Stock"/>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Buy Price</span>
                    </div>
                    <input asp-for="BuyPrice" type="text" inputmode="numeric" class="input input-bordered w-full"/>
                    <span asp-validation-for="BuyPrice" class="text-danger text-red-600 text-sm"></span>
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Sell Price</span>
                    </div>
                    <input asp-for="SellPrice" type="text" inputmode="numeric" class="input input-bordered w-full"/>
                    <span asp-validation-for="SellPrice" class="text-danger text-red-600 text-sm"></span>
                </label>
                <div class="card-actions justify-center mt-2">
                    <button type="submit" class="btn btn-info px-8">Save</button>
                    <a asp-action="Index" class="btn btn-ghost px-8">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>