<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FlowFoil</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>
<body class="h-screen bg-[#f2f8fe]">
<header>
    <div class="drawer">
        <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            <div class="navbar fixed z-30 bg-transparent w-full border-bottom border-1">
                <div class="flex-none justify-end md:hidden">
                    <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
                        <i data-lucide="align-justify"></i>
                    </label>
                </div>
                <div class="hidden flex-1 md:block">
                    <ul class="menu menu-horizontal p-0 items-center text-white">
                        <li><a class="btn btn-ghost text-xl" asp-area="" asp-controller="Home" asp-action="Index">FoilFlow</a></li>
                        <li><a asp-controller="Product" asp-action="Index" class="text-white">Products</a></li>
                        <partial name="_LoginPartial"/>
                    </ul>
                </div>
            </div>
        </div>
        <div class="drawer-side z-40">
            <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
            <ul class="menu bg-[#f2f8fe] min-h-full w-80 p-4">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Product" asp-action="Index">Products</a></li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </div>
</header>
<div class="h-full">
    <main role="main" class="h-full overflow-y-hidden">
        @RenderBody()
    </main>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://unpkg.com/lucide@latest"></script>
<script>
    lucide.createIcons();
</script>
@await Component.InvokeAsync("Notyf")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>