@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="flex justify-center mt-8">
    <div class="card bg-neutral-200 w-[32rem] shadow-lg">
        <div class="card-body items-center text-center">
            <h2 class="card-title">Create Product</h2>
            <form id="change-password-form" method="post" class="flex flex-col gap-2 w-full">
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Old password</span>
                    </div>
                    <input asp-for="Input.OldPassword" class="input input-bordered w-full"/>
                    <span asp-validation-for="Input.OldPassword" class="text-danger text-red-600 text-sm"></span>
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">New password</span>
                    </div>
                    <input asp-for="Input.NewPassword" class="input input-bordered w-full"/>
                    <span asp-validation-for="Input.NewPassword" class="text-danger text-red-600 text-sm"></span>
                </label>
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Confirm new password</span>
                    </div>
                    <input asp-for="Input.ConfirmPassword" class="input input-bordered w-full"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger text-red-600 text-sm"></span>
                </label>
                <div class="card-actions justify-center mt-2">
                    <button type="submit" class="btn btn-info px-8">Update password</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
