@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="menu menu-vertical sm:menu-horizontal bg-[#e2effb] sm:rounded-box rounded-none">
    <li><a id="profile" asp-page="./Index">Profile</a></li>
    <li><a id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins"><a id="external-login" asp-page="./ExternalLogins">External logins</a></li>
    }
    @* <li><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li> *@
    <li><a id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>